body {
  background-color: black;
  font-family: system-ui, sans-serif;
  margin: 0;
}

.screen {
  transition: opacity 250ms ease 500ms;
  background-color: gainsboro;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen[data-status='ready'] {
  opacity: 1;
}
